<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Lista de Usuários
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active"><a href="/admin/users">Usuários</a></li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
  
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
              
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="" role="tab" aria-controls="pills-home" aria-selected="true">Mercado livre Click</a>
            </li>
            <style>#p{padding: 5px;
              text-align: right;
              color:grey
              }
              #v{
                text-align: center;
              }
              #c{
                text-align: center;
              }
              #m{
                border: 10%;
                position: absolute;
                top: auto;
                left: 90%;
                transform: translate(-30px, 10px);
              }
            </style>
            <div id="p"><p>TOTAL DE PRODUTOS: {$pages}</p></div>
            </li>
          </ul>
          <a href="/admin/preco/mlclick/gerar_planilha_ml_click"><button type="button" class="btn btn-success">Gerar Planilha</button></a>
          <style>
            #Filter{display: flex;
              flex-direction: row;
              align-content: center;
              width: 955px;
              transform: translate(120px, -19px);
              align-items: center;
              flex-wrap: wrap;
              justify-content: space-evenly;
            }
            #Search{    
              width: 800px;
              transform: translate(0px, 15px);
            }
            #search-btn{
              border-color: gray;
            }
            .input-group-btn{
              border-color: black;
            }
          </style>
          <form role="form" action="/admin/preco/mlclick" id="Filter">
           <!--  <strong>Filtro:</strong>
                <input type="checkbox" name="Alerta - divergente" value="Alerta - divergente"/>Alerta - divergente<br>
                <input type="checkbox" name="Estoque correto" value="Estoque correto"/>Estoque correto<br>
                <input type="checkbox" name="Com Estoque" value="Com Estoque"/>Com Estoque<br>
                <input type="checkbox" name="Sem Estoque" value="Sem Estoque"/>Sem Estoque<br>
                <input type="checkbox" name="Classico" value="Classico"/>Classico<br>
                <input type="checkbox" name="Premium" value="Premium"/>Premium<br>
                <input type="checkbox" name="Ativo" value="Ativo"/>Ativo<br>
                <input type="checkbox" name="Inativo" value="Inativo"/>Inativo<br>
                <button type="submit" class="btn btn-info">Consultar</button> -->
                <div class="input-group" id="Search">
                  <input type="text" name="search" class="form-control" placeholder="Pesquisar..." value="{$search}">
                      <span class="input-group-btn">
                        <button type="submit"" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                        </button>
                      </span>
                </div>
          </form>
          <div class="box-body no-padding">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 60px">ID</th>
                      <th>Nome</th>
                      <th>Tipo de Anúncio</th>
                      <th>Preço MKTP</th>
                      <th>Preço ERP</th>
                      <th>Status</th>
                      <th id="c">Comparativo</th>
                    </tr>
                  </thead>
                  <tbody>
                    {loop="$page"}
                    <tr>
                      <td>{$value.id_produto}</td>
                      <td>{$value.name}</td>
                      <td id="v">{if="$value.tipo=='Clássico'"}<small class="label label-default">Clássico</small>
                        {else}<small class="label label-primary">Premium</small>{/if}</td>
                      <td>{$value.preco}</td>
                      <td>{$value.preco_venda}</td>
                      <td id="v">{if="$value.status=='active'"}<small class="label label-success">Ativo</small>
                        {else}<small class="label label-danger">Desativado</small>{/if}</td>
                      <td id="v">{if="$value.Comparativo=='Preço correto!'"}<small class="label pull-right bg-green">Preço correto</small>
                        {else}<small class="label pull-right bg-red">Alerta - divergente</small>{/if}</td>
                    </tr>
                    {/loop}
                  </tbody>
                </table>
                <nav aria-label="...">
                  <ul class="pagination pagination-sm">
                    <li><a href="#">«</a></li>
                    {loop="$pg"}
                    <li class="page-item"><a class="page-link" href="{$value.link}">{$value.text}</a></li>
                    {/loop}
                    <li><a href="#">»</a></li>
                  </ul>
                </nav>
              </div>
            </div>
      </div>
    </div>
  
  </section>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->